/* src/components/OurTeam.css */

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.teamCol.teamCol {
  height: auto !important;
}

.icons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.rowhead{
  margin-top: 20px;
  text-align: center;
}